<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
    <div class="ui-g">       
        <form autocomplete="off" (ngSubmit)="pesquisar()" class="ui-g-12 ui-md-12">
          <div class="ui-g-12 ui-md-12 ui-fluid">
              <h1>Pessoas</h1>
          </div>

          <div class="ui-g-12 ui-md-12 ui-fluid">
            <label> Nome </label>
            <input type="text" pInputText name="filtro.nome" [(ngModel)]="filtro.nome" />
          </div>

          <div class="ui-g-12">
              <button pButton type="submit" label="Pesquisar" class="ui-button-info"></button>
              <a pButton label="Nova pessoa" class="ui-button-info" 
                  style="float: right"> </a>
          </div>
       </form>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="pessoas" [responsive]="true"
                 [rows]="filtro.itensPorPagina" [paginator]="true"
                 [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="onMudarPagina($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th class="col-cidade">Cidade</th>
              <th class="col-estado">Estado</th>
              <th class="col-status">Status</th>
              <th class="col-acoes"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoa>
            <tr>
              <td>{{ pessoa.nome }}</td>
              <td class="col-cidade">{{ pessoa.endereco.cidade }}</td>
              <td class="col-estado">{{ pessoa.endereco.estado }}</td>
              <td class="col-status">
                  <a href="" [pTooltip]="pessoa.ativo == false ? 'Ativar' : 'Desativar'"
                  tooltipPosition="top"> 
                    {{ pessoa.ativo == true ? 'Ativo' : 'Inativo' }} 
                </a>
               </td>
              <td class="col-acoes">
                <a pButton icon="pi pi-pencil" pTooltip="Editar"
                  tooltipPosition="top" style="margin-right: 5px">
                </a>
                <button pButton icon="pi pi-trash"
                        pTooltip="Excluir" tooltipPosition="top">
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="5">
                      Nenhum registro encontrado.
                  </td>
              </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  </p-card>
</div>
