<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label> Nome </label>
        <input type="text" pInputText />
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" class="ui-button-info"></button>
            <button pButton type="submit" label="Nova pessoa" style="float: right;"></button>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="pessoas" [paginator]="true" [rows]="6" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th class="col-cidade">Cidade</th>
              <th class="col-estado">Estado</th>
              <th class="col-status">Status</th>
              <th class="col-acoes"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoa>
            <tr>
              <td>{{ pessoa.nome }}</td>
              <td class="col-cidade">{{ pessoa.cidade }}</td>
              <td class="col-estado">{{ pessoa.estado }}</td>
              <td class="col-status">
                  <a href="" [pTooltip]="pessoa.ativo == false ? 'Ativar' : 'Desativar'"
                  tooltipPosition="top"> 
                    {{ pessoa.ativo == true ? 'Ativo' : 'Inativo' }} 
                </a>
               </td>
              <td class="col-acoes">
                <a pButton icon="pi pi-pencil" pTooltip="Editar"
                  tooltipPosition="top" style="margin-right: 5px">
                </a>
                <button pButton icon="pi pi-trash"
                        pTooltip="Excluir" tooltipPosition="top">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
