<div class="container-custom">

    <p-card styleClass="ui-card-shadow">
        <div class="ui-g">
            <form autocomplete="off" (ngSubmit)="pesquisar()">
                <div class="ui-g-12 ui-md-12 ui-fluid">
                    <h1>Lançamentos</h1>
                </div>
            
                <div class="ui-g-12 ui-md-6 ui-fluid">
                    <label> Descrição </label>
                    <input type="text" pInputText placeholder="Pesquisa por descrição."
                    name="filtro.descricao" [(ngModel)]="filtro.descricao"/>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                    <label> Pessoa </label>
                    <input type="text" pInputText placeholder="Pesquisa por nome da pessoa."/>
                </div>
            
                <div class="ui-g-12 ui-md-12">
                    <label style="display: block;">Vencimento</label>
                    <p-calendar [showIcon]="true" [locale]="pt" name="filtro.dataDeVencimentoDe"
                        dateFormat="dd/mm/yy" [(ngModel)]="filtro.dataDeVencimentoDe">
                    </p-calendar>
            
                    <label style="margin-left: 5px; margin-right: 5px;">Até</label>
                    
                    <p-calendar [showIcon]="true" [(ngModel)]="filtro.dataDeVencimentoAte"
                        dateFormat="dd/mm/yy" name="filtro.dataDeVencimentoAte" [locale]="pt">
                    </p-calendar>
                </div>
            
                <div class="ui-g-12">
                    <button pButton type="submit" label="Pesquisar" class="ui-button-info"></button>
                    <a pButton label="Novo Lançamento" routerLink="novo" class="ui-button-info" 
                        style="float: right"> </a>
                </div>
            </form>
            
            <div class="ui-g">
                <div class="ui-g-12">
                    <!-- [lazy]="true" : Busca os dados por demanda -->
                    <!-- [totalRecords]="" : Total de registros que a consulta traz -->
                    <!-- (onLazyLoad)="onMudarPagina()": Chamado sempre que clicar na navegacao da p. -->
                    <p-table [value]="lancamentos" [responsive]="true"
                             [rows]="filtro.itensPorPagina" [paginator]="true"
                             [lazy]="true" [totalRecords]="totalRegistros"
                             (onLazyLoad)="onMudarPagina($event)" #tabela>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="col-acoes">Tipo</th>
                                <th>Pessoa</th>
                                <th>Descrição</th>
                                <th class="col-data">Vencimento</th>
                                <th class="col-data">Pagamento</th>
                                <th  class="col-valor">Valor</th>
                                <th  class="col-acoes"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lancamento>
                            <tr>
                                <td class="col-acoes">
                                  <i [ngClass]="lancamento.tipo == 'DESPESA' ? 'pi pi-arrow-up' : 'pi pi-arrow-down' "></i>
                                </td>
                                <td>{{ lancamento.pessoa }}</td>
                                <td>{{ lancamento.descricao }}</td>
                                <td style="text-align: center">
                                    <span [ngClass]="isVencido(lancamento.dataVencimento) ? 'badge badge-danger' : ''">
                                        {{ lancamento.dataVencimento | date: "dd/MM/yyyy" }}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span [ngClass]="lancamento.dataPagamento ? 'badge badge-success' : ''">
                                            {{ lancamento.dataPagamento | date: "dd/MM/yyyy" }}
                                    </span>
                                </td>
                                <td class="col-valor">
                                    <samp [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
                                        {{lancamento.valor | currency:'BRL':true }}
                                    </samp>
                                </td>
                                <td class="col-acoes">
                                    <a pButton icon="pi pi-pencil" pTooltip="Editar" 
                                    tooltipPosition="top" 
                                    [routerLink]="[ '/lancamentos', lancamento.codigo ]"
                                    style="margin-right: 5px"></a>
            
                                    <button pButton icon="pi pi-trash" pTooltip="Excluir" 
                                        tooltipPosition="top" (click)="confirmExclusao(lancamento.codigo)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="6">
                                    Nenhum registro encontrado.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
            
                </div>
            
        </div>
    </div>
</p-card>           

</div>