<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
      <div class="ui-g">
        <form #f="ngForm" autocomplete="off">
            <div class="ui-g-12">
                <h1>Novo lançamento</h1>
            </div>

            <div class="ui-g-12">
                <p-selectButton [options]="tipos" #tipo></p-selectButton>
            </div>
            
            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Valor</label>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">R$</span>
                    <input type="text" currencyMask pInputText style="text-align: right;"
                           name="valor" ngModel
                           [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }">
                </div>
            </div>

            <div class="ui-g-6 ui-md-2 ui-fluid">
              <label>Vencimento</label>
                <p-calendar [showIcon]="true" required
                    name="vencimento" ngModel #vencimento="ngModel"
                    dateFormat="dd/mm/yy">
                </p-calendar>
              <app-message [control]="vencimento" error="required" 
                text="Informe uma data de vencimento"></app-message>
            </div>

            <div class="ui-g-6 ui-md-2 ui-fluid">
                <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
                <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">
                <label>Descrição</label>
                <textarea pInputTextarea rows="5" ngModel #descricao="ngModel"
                         style="resize: none;" name="descricao" required
                         minlength="5"></textarea>

                <app-message [control]="descricao" error="required" 
                text="Informe uma descrição"></app-message>

                <app-message [control]="descricao" error="minlength" 
                text="Mínimo de {{ descricao?.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ descricao?.errors?.minlength?.actualLength }}">
                </app-message>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categorias" placeholder="Selecione"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-fluid">
                <label>Observação</label>
                <textarea pInputTextarea rows="3" style="resize: none;"> 

                </textarea>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class="ui-button-success btn-margin"></button>
                <button pButton type="submit" label="Cancelar" class="ui-button-info"></button>
            </div>
        </form>
      </div>
  </p-card>
</div>
